:root {
  /* Colors */
  --theme-primary: hsl(0, 0%, 5%);
  --theme-on-primary: hsl(0, 0%, 90%);
  --theme-primary--hover: #000;
  --theme-secondary: #ffffff;
  --theme-on-secondary: #000000;
  --theme-secondary--hover: #ffffff;

  --theme-background: hsl(0, 0%, 98%);
  --theme-on-background: hsl(0, 0%, 5%);

  --theme-surface-1: hsl(0, 0%, 92%);
  --theme-on-surface-1: hsl(0, 0%, 10%);

  /* Typography */
  --step--2: clamp(0.75rem, calc(0.88rem + -0.18vw), 0.84rem);
  --step--1: clamp(1.05rem, calc(1.05rem + 0.02vw), 1.06rem);
  --step-0: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.50rem);
  --step-1: clamp(1.64rem, calc(1.45rem + 0.94vw), 2.12rem);
  --step-2: clamp(2.05rem, calc(1.68rem + 1.85vw), 3.00rem);
  --step-3: clamp(2.56rem, calc(1.91rem + 3.27vw), 4.24rem);
  --step-4: clamp(3.20rem, calc(2.11rem + 5.45vw), 6.00rem);
  --step-5: clamp(4.01rem, calc(2.26rem + 8.73vw), 8.48rem);

  --font-family-heading: '', sans-serif;
  --font-family-body: 'Open Sans', sans-serif;

  --body-max-width: 1920px;

  /* Container */
  --container-padding: 0 1rem;
  --container-max-width: 860px;

  --nav-height: 76px;

  /* Transitions */
  --ease-out-soft: cubic-bezier(0.28,0,0.49,1);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background-color: var(--theme-background);
  color: var(--theme-on-background);
  font-size: var(--step-0);
  font-family: var(--font-family-body);
  font-weight: 400;
  line-height: 1.5;
  max-width: var(--body-max-width);
  position: relative;
}

.flow>*+* {
  margin-top: var(--flow-space, 1em);
}

a {
  color: inherit;
}

.content__main {
  padding-top: calc(var(--nav-height) + 2rem);
  padding-bottom: 4rem;
}

/* Typography */

h1 {
  font-size: var(--step-4);
  font-family: var(--font-family-heading);
  font-weight: 600;
  line-height: 1.2;
}

h2 {
  font-size: var(--step-3);
  font-family: var(--font-family-heading);
  font-weight: 500;
  line-height: 1.2;
}

h3 {
  font-size: var(--step-2);
  font-family: var(--font-family-heading);
  font-weight: 500;
  line-height: 1.2;
}

h4 {
  font-size: var(--step-1);
  font-family: var(--font-family-heading);
}

h1, h2, h3 {
  max-width: 30ch;
}

p, li {
  max-width: 70ch;
}
