---
import Layout from '../layouts/Page.astro'
import Container from '../components/Container.astro';
import BlogPostsList from '../components/BlogPostsList.astro';

const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.publishedAt).valueOf() - new Date(a.frontmatter.publishedAt).valueOf()
);

const seo = {
  title: 'Simple Blog | A template by Little Sticks',
  description: 'A simple blog template for Astro by Little Sticks',
}
---

<style>
  .home-hero-text__container {
    padding: 5vh 0;
  }
  h1 {
    text-align: center;
  }
</style>

<Layout seo={seo}>
  <Container>
    <div class="home-hero-text__container">
      <h1 class="fade-in">Blog</h1>
    </div>
    <BlogPostsList posts={posts}/>
  </Container>
</Layout>

