---
import Container from './Container.astro';
import Logo from './Logo.astro';
import SocialList from './SocialList.astro';
import { ThemeToggleButton } from './ThemeToggleButton/ThemeToggleButton';
---

<header>
  <Container>
    <nav>
      <a class="header__logo" href="/">
        <Logo />
      </a>
      <SocialList />
    </nav>
  </Container>
  <div class="theme-toggle__container">
    <!-- <Icon name="ic:round-dark-mode" width="18px" height="18px" /> -->
    <ThemeToggleButton client:load />
  </div>
</header>

<style>
  header {
    height: var(--theme-header-height, 64px);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--theme-primary-light);
  }
  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__logo {
    display: flex;
    align-items: center;
    margin: 0;
  }
  .theme-toggle__container {
    margin-left: 1rem;
    position: relative;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
