---
import Container from './Container.astro';
import Logo from './Logo.astro';
import SocialList from './SocialList.astro';
---

<script>
  import './ThemeToggleButton/theme-toggle-button'
</script>

<header>
  <Container>
    <nav>
      <a class="header__logo" href="/" title="Navigate Home">
        <Logo />
      </a>
      <SocialList />
    </nav>
  </Container>
  <div class="theme-toggle__container">
    <!-- I was running into some issues with the Lit integration so I'm using it as a client script for now -->
    <theme-toggle-button></theme-toggle-button>
  </div>
</header>

<style>
  header {
    height: var(--theme-header-height, 64px);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--theme-primary-light);
  }
  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__logo {
    display: flex;
    align-items: center;
    margin: 0;
  }
  .theme-toggle__container {
    margin-left: 1rem;
    position: relative;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
