---
import {Icon} from 'astro-icon'
import { socials } from '../data/socials';
---

<ul class="social__list">
  {socials.map(social => (
  <li>
    <a href={social.url} title={`Open ${social.name} profile`}>
      <Icon name={social.icon} width="24px" height="24px" />
    </a>
  </li>))}
</ul>

<style>
  .social__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
  }
  .social__list li {
    display: flex;
    align-items: center;
  }
  .social__list li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    transition: opacity 0.2s ease;
  }
  .social__list li a:hover {
    opacity: 0.8;
  }
</style>